.navbar>.container, .navbar>.container-fluid {
	justify-content: flex-start;
}

.content {
	max-width: 1100px;
	margin: 15px auto;
	position: relative;
}

.content h1, .content h2, .filter, .department {
	text-align: center;
}

#expertise-list {
	width: 100%;
}

#expertise-list thead {
	font-weight: bold;
}

#expertise-list tr {
	border-bottom: 1px solid #dee2e6;
}

#expertise-list td:first-child {
	width: 25%;
}

#expertise-list td:last-child {
	width: 75%;
}

#expertise-list td {
	padding: 20px 5px;
}

.filter input, .filter select {
	display: inline-block;
}

.filter input {
	width: 100%;
	margin-bottom: 10px;
}

.filter select {
	width: 100%;
}

@media screen and (min-width: 768px) {
	.filter input {
		width: calc(75% - 5px);
		margin-right: 5px;
		margin-bottom: 0;
	}

	.filter select {
		width: 25%;
	}
}

.department {
	width: calc((100% - 20px) / 7);
	display: inline-block;
}

.department label:hover, .department input:hover {
	cursor: pointer;
}

input[name="department"] {
	vertical-align: middle;
}

span.highlight {
	background-color: yellow;
}

.hidden {
	display: none;
}

button {
	position: absolute;
	margin: 25px 0;
	left: 25%;
	width: 50%;
	background-color: #242F60;
	color: white;
	border: none;
	padding: 10px;
	border-radius: 5px;
}

button:hover {
	text-decoration: underline;
}

/*
***
* FOOTER
***
*/
footer {
	background-color: white;
	padding-bottom: 0;
}

/* Main Footer */
footer .main {
	margin: 40px 0 0;
	padding: 60px 0;
	height: auto;
	background-color: #242F60;
	background-image: url("https://directoryofexpertise.legaltech.wales/assets/images/waves-bg.svg");
	background-repeat: no-repeat;
	background-size: 150%;
	background-position: 5% 15%;
	color: white;
	text-align: left;
	position: relative;
}

footer .main .inner {
	margin: 0 auto;
	position: relative;
}

footer::before {
	content: "";
	position: absolute;
	top: -15px;
	left: 0;
	width: 100%;
	height: 1px;
	display: block;
}

footer .main ul {
	margin: 0;
	display: block;
}

footer .main ul li {
	display: inline-block;
	margin: 0 5px 0 0;
	padding: 0;
	background: none;
}

footer .main ul li a {
	color: white;
	transition: .2s;
	position: relative;
	top: 0;
}

footer .main ul li a:hover {
	text-decoration: none;
	top: -2px;
	color: white;
}

footer .main ul li a:visited {
	color: white;
}

footer .main .footer-links-list, footer .footer-info-list {
	margin-bottom: 20px;
}

footer .main .footer-links-list li::after, footer .footer-info-list li::after {
	content: "|";
	margin-left: 5px;
}

footer .main .footer-links-list li:last-child::after, footer .footer-info-list li:last-child::after {
	display: none;
}

/* Logos section */

footer .logos {
	padding: 20px 0;
	background-color: white;
}
footer .logos .col {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
footer .logos .col img {
	max-width: 160px;
}
footer .logos .col img.erdf {
	margin-left: 48px;
}